*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

body {
  color: #ab342f;
}

.main a {
    text-decoration: none;
  }
