.generic-content-container {
  p {
    font-weight: 300;
    line-height: 1.65;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @mixin atMedium {
      font-size: 1.8rem;
    }
  }

  p a {
    font-weight: 700;
  }
}
