.large-hero {
  position: relative;
  border-bottom: 0.8rem solid $mainBlue;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-top: 6rem;
  }

  &__title {
    color: $mainBlue;
    font-weight: 300;
    margin: 0;
    font-size: 4rem;

    @mixin atSmall {
      font-size: 8rem;
    }
  }
  &__subtitle {
    color: $mainBlue;
    font-weight: 300;
    margin: 0;
    font-size: 2.5rem;

    @mixin atSmall {
      font-size: 5rem;
    }
  }
  &__description {
    color: white;
    font-weight: 100;
    font-size: 1.8rem;
    max-width: 32rem;
    margin: 0 auto;

    @mixin atSmall {
      font-size: 3.2rem;
      max-width: 48rem;
    }
  }

  &__img {
    display: block;
  }
}
