.row {
  max-width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;

  [class^="row__"] {
    float: left;
    padding-right: 0;

    @mixin atMedium {
      padding-right: $gutter-v;
    }
  }

  &__medium-4 {
    @mixin atMedium {
      width: 33.33%;
    }
  }

  &__medium-8 {
    @mixin atMedium {
      width: 66.67%;
    }
  }

  &__left-small {
    @mixin atMedium {
      width: 40%;
    }
  }

  &__right-big {
    @mixin atMedium {
      width: 60%;
    }
  }

  &__half {
    width: 100%;
    @mixin atMedium {
      width: 50%;
    }
  }

  @mixin clearfix;

  &--gutters {
    max-width: calc(100% + $gutter-v);

    @mixin atMedium {
      width: calc(100% + $gutter-v);
    }
  }

  &--gutters-small {
    max-width: calc(100% + $gutter-v-small);

    @mixin atMedium {
      width: calc(100% + $gutter-v-small);
    }

    [class^="row__"] {
      float: left;
      padding-right: 0;

      @mixin atMedium {
        padding-right: $gutter-v-small;
      }
    }
  }

  &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;
    }

    [class^="row__"] {
      @mixin atMedium {
        float: none;
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  &--no-padding-at-medium {
    padding-right: 0;
    padding-left: 0;
  }
}
