.row {
  & > * {
    float: left;

    @mixin atMedium {
      &:not(:last-child) {
        padding-right: $gutter-v;
      }
    }
  }

  &__medium-4 {
    @mixin atMedium {
      width: 33.33%;
    }
  }

  &__medium-8 {
    @mixin atMedium {
      width: 66.67%;
    }
  }

  &__left-small {
    @mixin atMedium {
      width: 40%;
    }
  }

  &__right-big {
    @mixin atMedium {
      width: 60%;
    }
  }

  @mixin clearfix;
}
