.testimonials {
  background-image: none;
  background: #c3d0d99a;
  background-position: center top;
  background-size: cover;

  .section__heading {
    color: $mainBlue;
    position: relative;
  }

  &__icon {
    display: inline-block;
    position: relative;
    top: 1rem;
  }

  @mixin atMedium {
    background-image: url("../../assets/images/testimonials-bg.jpg");
  }
}
