@define-mixin middler {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.wrapper-medium {
  max-width: 97rem;
  @mixin middler;
}

.wrapper-big {
  max-width: 123.6rem;
  @mixin middler;
}
